.scrollbar::-webkit-scrollbar {
  width: 2px;
}

.scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #65fdb9;
  border-radius: 6px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #52525b;
}
